# Introduction to Python
# Module 6. Handling Files

Instructor: Suyong Song 

Topics to be covered:
- Useful operating system functionality
- Writing and reading a file (+ exercises)
- Writing and reading a CSV file using Pandas

## Useful Operating System-Dependent Functions

In [4]:
import os

The <b>os</b> module provides a portable way of using operating system dependent functionality.

In [5]:
os.listdir(path="./")                        # The path "./" means the current directory.

['.ipynb_checkpoints',
 'Ch4(1).ipynb',
 'Ch5(1).ipynb',
 'Data',
 'Introduction to Python - Preparations.pdf',
 'Introduction to Python - Slides.pdf',
 'MLB_Batting.csv',
 'Module1_Python_Intro_Part1.ipynb',
 'Module2_Python_Basics_Part1.ipynb',
 'Module2_Python_Basics_Part1_Exercises.ipynb',
 'Module3_Python_Basics_Part2.ipynb',
 'Module3_Python_Basics_Part2_Exercises.ipynb',
 'Module4_Numpy.ipynb',
 'Module4_Numpy_Exercises_jihoo.ipynb',
 'Module5_Pandas.ipynb',
 'Module5_Pandas_Exercises_jihoo.ipynb',
 'Module6_7_Files_Data_Visualization_Exercise.ipynb',
 'Module6_Files(1).ipynb',
 'Module7_Data_Visualization.ipynb',
 'timeline_cnnbrk.csv',
 '이미지']

The <b>os.listdir</b>(path='.') function returns a list containing the names of the entries in the directory given by `path`.

In [6]:
[item for item in os.listdir("./") if item.endswith(".ipynb")]     # a list of ipynb files in the current directory

['Ch4(1).ipynb',
 'Ch5(1).ipynb',
 'Module1_Python_Intro_Part1.ipynb',
 'Module2_Python_Basics_Part1.ipynb',
 'Module2_Python_Basics_Part1_Exercises.ipynb',
 'Module3_Python_Basics_Part2.ipynb',
 'Module3_Python_Basics_Part2_Exercises.ipynb',
 'Module4_Numpy.ipynb',
 'Module4_Numpy_Exercises_jihoo.ipynb',
 'Module5_Pandas.ipynb',
 'Module5_Pandas_Exercises_jihoo.ipynb',
 'Module6_7_Files_Data_Visualization_Exercise.ipynb',
 'Module6_Files(1).ipynb',
 'Module7_Data_Visualization.ipynb']

In [7]:
os.getcwd()

'C:\\Users\\ellyj\\Desktop\\3-1\\계량경제학\\python'

The <b>os.getcwd</b> function returns a string representing the current working directory.

In [8]:
os.path.isfile("Module6_Files(1).ipynb")

True

The <b>os.path.isfile</b>(path) function returns True if `path` is an existing regular file.

In [11]:
os.path.isdir("data")

True

The <b>os.path.isdir</b>(path) function returns True if `path` is an existing directory.

In [12]:
if not os.path.isdir("data"):         # Check if there is an existing directory named data.
    os.mkdir("data")                  # Create a new directory named data.

The <b>os.mkdir</b>(path) function creates a directory named `path`.

We are going to save all of our outcome files in the `data` directory.

## Writing a File

When writing and reading a file, the first thing you need to do is to open a file in the right mode.

In [13]:
fw = open("data/output.txt", mode="w")

open: https://docs.python.org/3/library/functions.html#open

The built-in <b>open</b> function opens the file provided and returns a corresponding file object. If the file cannot be opened, an OSError is raised. The parameter `mode` is an optional string that specifies the mode in which the file is opened. 
- "r": opens a file for reading. (default)
- "w": opens a file for writing. Creates a new file if it does not exist, or truncates the file if it exists.
- "a": opens for appending at the end of the file without truncating it. Creates a new file if it does not exist.
- "b": opens in binary mode.
- "+": opens a file for updating (reading and writing)

In [14]:
fw.write("Hello, world!\n")

14

The <b>write</b> method writes the content of string to the file, returning the number of characters written.

In [15]:
print("Hello, world!\n", end="")

Hello, world!

Note that writing a string to a file using the <b>write</b> method is basically similar to printing a string on a screen using the <b>print</b> function. The difference is where to show the string.

In [16]:
fw.close()

The <b>close</b> method closes the file and immediately frees up any system resources used by it. If you do not explicitly close a file, Python’s garbage collector will eventually destroy the object and close the open file for you, but the file may stay open for a while.

Always make sure to open the file to see if everything has been written as expected.

In [17]:
with open("data/output.txt", mode="w") as fw:
    fw.write("Hello, world!\n")

It is good practice to use the <b>with</b> keyword when dealing with file objects. The advantage is that the file is properly closed after its block finishes, which means you do not have to explicitly close the file.

In [18]:
with open("data/output.csv", mode="w") as fw:
    # Write the header row.
    fw.write("num\n")                # Use a new line (\n) between rows.
    
    # Write the value rows.
    for i in range(100):
        fw.write("{}\n".format(i))

When writing a CSV file with a single column, you need to decide the delimiter to specify the boundary between separate rows, e.g., a new line ("\n").

In [19]:
with open("data/output2.csv", mode="w") as fw:
    # Write the header row.
    fw.write("num,col1,col2\n")       # Use a comma (,) between columns and a new line (\n) between rows.
    
    # Write the value rows.
    for i in range(100):
        fw.write("{},{},{}\n".format(i, i*10, i*100))

When writing a CSV file with multiple columns, you also need to decide the delimiter to specify the boundary between separate columns, e.g., comma (",") or tab ("\t").

In [20]:
from seaborn import load_dataset

df = load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [21]:
with open("data/my_titanic.csv", "w") as fw:
    # Write the header row.
    header = "index,survived,pclass,fare\n"
    fw.write(header)
    print(header, end="")            # Print the header row just to check the current status.
    
    # Write the value rows.
    for idx, val in df.iterrows():   # Iterates over the rows as (index, series) pairs
        survived = val.survived
        pclass = val.pclass
        fare = val.fare
        
        row = "{},{},{},{}\n".format(idx, survived, pclass, fare)
        fw.write(row)
        print(row, end="")           # Print each row to check the current status.

index,survived,pclass,fare
0,0,3,7.25
1,1,1,71.2833
2,1,3,7.925
3,1,1,53.1
4,0,3,8.05
5,0,3,8.4583
6,0,1,51.8625
7,0,3,21.075
8,1,3,11.1333
9,1,2,30.0708
10,1,3,16.7
11,1,1,26.55
12,0,3,8.05
13,0,3,31.275
14,0,3,7.8542
15,1,2,16.0
16,0,3,29.125
17,1,2,13.0
18,0,3,18.0
19,1,3,7.225
20,0,2,26.0
21,1,2,13.0
22,1,3,8.0292
23,1,1,35.5
24,0,3,21.075
25,1,3,31.3875
26,0,3,7.225
27,0,1,263.0
28,1,3,7.8792
29,0,3,7.8958
30,0,1,27.7208
31,1,1,146.5208
32,1,3,7.75
33,0,2,10.5
34,0,1,82.1708
35,0,1,52.0
36,1,3,7.2292
37,0,3,8.05
38,0,3,18.0
39,1,3,11.2417
40,0,3,9.475
41,0,2,21.0
42,0,3,7.8958
43,1,2,41.5792
44,1,3,7.8792
45,0,3,8.05
46,0,3,15.5
47,1,3,7.75
48,0,3,21.6792
49,0,3,17.8
50,0,3,39.6875
51,0,3,7.8
52,1,1,76.7292
53,1,2,26.0
54,0,1,61.9792
55,1,1,35.5
56,1,2,10.5
57,0,3,7.2292
58,1,2,27.75
59,0,3,46.9
60,0,3,7.2292
61,1,1,80.0
62,0,1,83.475
63,0,3,27.9
64,0,1,27.7208
65,1,3,15.2458
66,1,2,10.5
67,0,3,8.1583
68,1,3,7.925
69,0,3,8.6625
70,0,2,10.5
71,0,3,46.9
72,0,2,73.5
73,0,3,14.4542
74,1,3,56.4958
75,0,3,7.65
76,0,3,7.8958
77,0,3,8.05
78,1,2,29.0
79,1,3,12.475
80,0,3,9.0
81,1,3,9.5
82,1,3,7.7875
83,0,1,47.1
84,1,2,10.5
85,1,3,15.85
86,0,3,34.375
87,0,3,8.05
88,1,1,263.0
89,0,3,8.05
90,0,3,8.05
91,0,3,7.8542
92,0,1,61.175
93,0,3,20.575
94,0,3,7.25
95,0,3,8.05
96,0,1,34.6542
97,1,1,63.3583
98,1,2,23.0
99,0,2,26.0
100,0,3,7.8958
101,0,3,7.8958
102,0,1,77.2875
103,0,3,8.6542
104,0,3,7.925
105,0,3,7.8958
106,1,3,7.65
107,1,3,7.775
108,0,3,7.8958
109,1,3,24.15
110,0,1,52.0
111,0,3,14.4542
112,0,3,8.05
113,0,3,9.825
114,0,3,14.4583
115,0,3,7.925
116,0,3,7.75
117,0,2,21.0
118,0,1,247.5208
119,0,3,31.275
120,0,2,73.5
121,0,3,8.05
122,0,2,30.0708
123,1,2,13.0
124,0,1,77.2875
125,1,3,11.2417
126,0,3,7.75
127,1,3,7.1417
128,1,3,22.3583
129,0,3,6.975
130,0,3,7.8958
131,0,3,7.05
132,0,3,14.5
133,1,2,26.0
134,0,2,13.0
135,0,2,15.0458
136,1,1,26.2833
137,0,1,53.1
138,0,3,9.2167
139,0,1,79.2
140,0,3,15.2458
141,1,3,7.75
142,1,3,15.85
143,0,3,6.75
144,0,2,11.5
145,0,2,36.75
146,1,3,7.7958
147,0,3,34.375
148,0,2,26.0
149,0,2,13.0
150,0,2,12.525
151,1,1,66.6
152,0,3,8.05
153,0,3,14.5
154,0,3,7.3125
155,0,1,61.3792
156,1,3,7.7333
157,0,3,8.05
158,0,3,8.6625
159,0,3,69.55
160,0,3,16.1
161,1,2,15.75
162,0,3,7.775
163,0,3,8.6625
164,0,3,39.6875
165,1,3,20.525
166,1,1,55.0
167,0,3,27.9
168,0,1,25.925
169,0,3,56.4958
170,0,1,33.5
171,0,3,29.125
172,1,3,11.1333
173,0,3,7.925
174,0,1,30.6958
175,0,3,7.8542
176,0,3,25.4667
177,0,1,28.7125
178,0,2,13.0
179,0,3,0.0
180,0,3,69.55
181,0,2,15.05
182,0,3,31.3875
183,1,2,39.0
184,1,3,22.025
185,0,1,50.0
186,1,3,15.5
187,1,1,26.55
188,0,3,15.5
189,0,3,7.8958
190,1,2,13.0
191,0,2,13.0
192,1,3,7.8542
193,1,2,26.0
194,1,1,27.7208
195,1,1,146.5208
196,0,3,7.75
197,0,3,8.4042
198,1,3,7.75
199,0,2,13.0
200,0,3,9.5
201,0,3,69.55
202,0,3,6.4958
203,0,3,7.225
204,1,3,8.05
205,0,3,10.4625
206,0,3,15.85
207,1,3,18.7875
208,1,3,7.75
209,1,1,31.0
210,0,3,7.05
211,1,2,21.0
212,0,3,7.25
213,0,2,13.0
214,0,3,7.75
215,1,1,113.275
216,1,3,7.925
217,0,2,27.0
218,1,1,76.2917
219,0,2,10.5
220,1,3,8.05
221,0,2,13.0
222,0,3,8.05
223,0,3,7.8958
224,1,1,90.0
225,0,3,9.35
226,1,2,10.5
227,0,3,7.25
228,0,2,13.0
229,0,3,25.4667
230,1,1,83.475
231,0,3,7.775
232,0,2,13.5
233,1,3,31.3875
234,0,2,10.5
235,0,3,7.55
236,0,2,26.0
237,1,2,26.25
238,0,2,10.5
239,0,2,12.275
240,0,3,14.4542
241,1,3,15.5
242,0,2,10.5
243,0,3,7.125
244,0,3,7.225
245,0,1,90.0
246,0,3,7.775
247,1,2,14.5
248,1,1,52.5542
249,0,2,26.0
250,0,3,7.25
251,0,3,10.4625
252,0,1,26.55
253,0,3,16.1
254,0,3,20.2125
255,1,3,15.2458
256,1,1,79.2
257,1,1,86.5
258,1,1,512.3292
259,1,2,26.0
260,0,3,7.75
261,1,3,31.3875
262,0,1,79.65
263,0,1,0.0
264,0,3,7.75
265,0,2,10.5
266,0,3,39.6875
267,1,3,7.775
268,1,1,153.4625
269,1,1,135.6333
270,0,1,31.0
271,1,3,0.0
272,1,2,19.5
273,0,1,29.7
274,1,3,7.75
275,1,1,77.9583
276,0,3,7.75
277,0,2,0.0
278,0,3,29.125
279,1,3,20.25
280,0,3,7.75
281,0,3,7.8542
282,0,3,9.5
283,1,3,8.05
284,0,1,26.0
285,0,3,8.6625
286,1,3,9.5
287,0,3,7.8958
288,1,2,13.0
289,1,3,7.75
290,1,1,78.85
291,1,1,91.0792
292,0,2,12.875
293,0,3,8.85
294,0,3,7.8958
295,0,1,27.7208
296,0,3,7.2292
297,0,1,151.55
298,1,1,30.5
299,1,1,247.5208
300,1,3,7.75
301,1,3,23.25
302,0,3,0.0
303,1,2,12.35
304,0,3,8.05
305,1,1,151.55
306,1,1,110.8833
307,1,1,108.9
308,0,2,24.0
309,1,1,56.9292
310,1,1,83.1583
311,1,1,262.375
312,0,2,26.0
313,0,3,7.8958
314,0,2,26.25
315,1,3,7.8542
316,1,2,26.0
317,0,2,14.0
318,1,1,164.8667
319,1,1,134.5
320,0,3,7.25
321,0,3,7.8958
322,1,2,12.35
323,1,2,29.0
324,0,3,69.55
325,1,1,135.6333
326,0,3,6.2375
327,1,2,13.0
328,1,3,20.525
329,1,1,57.9792
330,1,3,23.25
331,0,1,28.5
332,0,1,153.4625
333,0,3,18.0
334,1,1,133.65
335,0,3,7.8958
336,0,1,66.6
337,1,1,134.5
338,1,3,8.05
339,0,1,35.5
340,1,2,26.0
341,1,1,263.0
342,0,2,13.0
343,0,2,13.0
344,0,2,13.0
345,1,2,13.0
346,1,2,13.0
347,1,3,16.1
348,1,3,15.9
349,0,3,8.6625
350,0,3,9.225
351,0,1,35.0
352,0,3,7.2292
353,0,3,17.8
354,0,3,7.225
355,0,3,9.5
356,1,1,55.0
357,0,2,13.0
358,1,3,7.8792
359,1,3,7.8792
360,0,3,27.9
361,0,2,27.7208
362,0,3,14.4542
363,0,3,7.05
364,0,3,15.5
365,0,3,7.25
366,1,1,75.25
367,1,3,7.2292
368,1,3,7.75
369,1,1,69.3
370,1,1,55.4417
371,0,3,6.4958
372,0,3,8.05
373,0,1,135.6333
374,0,3,21.075
375,1,1,82.1708
376,1,3,7.25
377,0,1,211.5
378,0,3,4.0125
379,0,3,7.775
380,1,1,227.525
381,1,3,15.7417
382,0,3,7.925
383,1,1,52.0
384,0,3,7.8958
385,0,2,73.5
386,0,3,46.9
387,1,2,13.0
388,0,3,7.7292
389,1,2,12.0
390,1,1,120.0
391,1,3,7.7958
392,0,3,7.925
393,1,1,113.275
394,1,3,16.7
395,0,3,7.7958
396,0,3,7.8542
397,0,2,26.0
398,0,2,10.5
399,1,2,12.65
400,1,3,7.925
401,0,3,8.05
402,0,3,9.825
403,0,3,15.85
404,0,3,8.6625
405,0,2,21.0
406,0,3,7.75
407,1,2,18.75
408,0,3,7.775
409,0,3,25.4667
410,0,3,7.8958
411,0,3,6.8583
412,1,1,90.0
413,0,2,0.0
414,1,3,7.925
415,0,3,8.05
416,1,2,32.5
417,1,2,13.0
418,0,2,13.0
419,0,3,24.15
420,0,3,7.8958
421,0,3,7.7333
422,0,3,7.875
423,0,3,14.4
424,0,3,20.2125
425,0,3,7.25
426,1,2,26.0
427,1,2,26.0
428,0,3,7.75
429,1,3,8.05
430,1,1,26.55
431,1,3,16.1
432,1,2,26.0
433,0,3,7.125
434,0,1,55.9
435,1,1,120.0
436,0,3,34.375
437,1,2,18.75
438,0,1,263.0
439,0,2,10.5
440,1,2,26.25
441,0,3,9.5
442,0,3,7.775
443,1,2,13.0
444,1,3,8.1125
445,1,1,81.8583
446,1,2,19.5
447,1,1,26.55
448,1,3,19.2583
449,1,1,30.5
450,0,2,27.75
451,0,3,19.9667
452,0,1,27.75
453,1,1,89.1042
454,0,3,8.05
455,1,3,7.8958
456,0,1,26.55
457,1,1,51.8625
458,1,2,10.5
459,0,3,7.75
460,1,1,26.55
461,0,3,8.05
462,0,1,38.5
463,0,2,13.0
464,0,3,8.05
465,0,3,7.05
466,0,2,0.0
467,0,1,26.55
468,0,3,7.725
469,1,3,19.2583
470,0,3,7.25
471,0,3,8.6625
472,1,2,27.75
473,1,2,13.7917
474,0,3,9.8375
475,0,1,52.0
476,0,2,21.0
477,0,3,7.0458
478,0,3,7.5208
479,1,3,12.2875
480,0,3,46.9
481,0,2,0.0
482,0,3,8.05
483,1,3,9.5875
484,1,1,91.0792
485,0,3,25.4667
486,1,1,90.0
487,0,1,29.7
488,0,3,8.05
489,1,3,15.9
490,0,3,19.9667
491,0,3,7.25
492,0,1,30.5
493,0,1,49.5042
494,0,3,8.05
495,0,3,14.4583
496,1,1,78.2667
497,0,3,15.1
498,0,1,151.55
499,0,3,7.7958
500,0,3,8.6625
501,0,3,7.75
502,0,3,7.6292
503,0,3,9.5875
504,1,1,86.5
505,0,1,108.9
506,1,2,26.0
507,1,1,26.55
508,0,3,22.525
509,1,3,56.4958
510,1,3,7.75
511,0,3,8.05
512,1,1,26.2875
513,1,1,59.4
514,0,3,7.4958
515,0,1,34.0208
516,1,2,10.5
517,0,3,24.15
518,1,2,26.0
519,0,3,7.8958
520,1,1,93.5
521,0,3,7.8958
522,0,3,7.225
523,1,1,57.9792
524,0,3,7.2292
525,0,3,7.75
526,1,2,10.5
527,0,1,221.7792
528,0,3,7.925
529,0,2,11.5
530,1,2,26.0
531,0,3,7.2292
532,0,3,7.2292
533,1,3,22.3583
534,0,3,8.6625
535,1,2,26.25
536,0,1,26.55
537,1,1,106.425
538,0,3,14.5
539,1,1,49.5
540,1,1,71.0
541,0,3,31.275
542,0,3,31.275
543,1,2,26.0
544,0,1,106.425
545,0,1,26.0
546,1,2,26.0
547,1,2,13.8625
548,0,3,20.525
549,1,2,36.75
550,1,1,110.8833
551,0,2,26.0
552,0,3,7.8292
553,1,3,7.225
554,1,3,7.775
555,0,1,26.55
556,1,1,39.6
557,0,1,227.525
558,1,1,79.65
559,1,3,17.4
560,0,3,7.75
561,0,3,7.8958
562,0,2,13.5
563,0,3,8.05
564,0,3,8.05
565,0,3,24.15
566,0,3,7.8958
567,0,3,21.075
568,0,3,7.2292
569,1,3,7.8542
570,1,2,10.5
571,1,1,51.4792
572,1,1,26.3875
573,1,3,7.75
574,0,3,8.05
575,0,3,14.5
576,1,2,13.0
577,1,1,55.9
578,0,3,14.4583
579,1,3,7.925
580,1,2,30.0
581,1,1,110.8833
582,0,2,26.0
583,0,1,40.125
584,0,3,8.7125
585,1,1,79.65
586,0,2,15.0
587,1,1,79.2
588,0,3,8.05
589,0,3,8.05
590,0,3,7.125
591,1,1,78.2667
592,0,3,7.25
593,0,3,7.75
594,0,2,26.0
595,0,3,24.15
596,1,2,33.0
597,0,3,0.0
598,0,3,7.225
599,1,1,56.9292
600,1,2,27.0
601,0,3,7.8958
602,0,1,42.4
603,0,3,8.05
604,1,1,26.55
605,0,3,15.55
606,0,3,7.8958
607,1,1,30.5
608,1,2,41.5792
609,1,1,153.4625
610,0,3,31.275
611,0,3,7.05
612,1,3,15.5
613,0,3,7.75
614,0,3,8.05
615,1,2,65.0
616,0,3,14.4
617,0,3,16.1
618,1,2,39.0
619,0,2,10.5
620,0,3,14.4542
621,1,1,52.5542
622,1,3,15.7417
623,0,3,7.8542
624,0,3,16.1
625,0,1,32.3208
626,0,2,12.35
627,1,1,77.9583
628,0,3,7.8958
629,0,3,7.7333
630,1,1,30.0
631,0,3,7.0542
632,1,1,30.5
633,0,1,0.0
634,0,3,27.9
635,1,2,13.0
636,0,3,7.925
637,0,2,26.25
638,0,3,39.6875
639,0,3,16.1
640,0,3,7.8542
641,1,1,69.3
642,0,3,27.9
643,1,3,56.4958
644,1,3,19.2583
645,1,1,76.7292
646,0,3,7.8958
647,1,1,35.5
648,0,3,7.55
649,1,3,7.55
650,0,3,7.8958
651,1,2,23.0
652,0,3,8.4333
653,1,3,7.8292
654,0,3,6.75
655,0,2,73.5
656,0,3,7.8958
657,0,3,15.5
658,0,2,13.0
659,0,1,113.275
660,1,1,133.65
661,0,3,7.225
662,0,1,25.5875
663,0,3,7.4958
664,1,3,7.925
665,0,2,73.5
666,0,2,13.0
667,0,3,7.775
668,0,3,8.05
669,1,1,52.0
670,1,2,39.0
671,0,1,52.0
672,0,2,10.5
673,1,2,13.0
674,0,2,0.0
675,0,3,7.775
676,0,3,8.05
677,1,3,9.8417
678,0,3,46.9
679,1,1,512.3292
680,0,3,8.1375
681,1,1,76.7292
682,0,3,9.225
683,0,3,46.9
684,0,2,39.0
685,0,2,41.5792
686,0,3,39.6875
687,0,3,10.1708
688,0,3,7.7958
689,1,1,211.3375
690,1,1,57.0
691,1,3,13.4167
692,1,3,56.4958
693,0,3,7.225
694,0,1,26.55
695,0,2,13.5
696,0,3,8.05
697,1,3,7.7333
698,0,1,110.8833
699,0,3,7.65
700,1,1,227.525
701,1,1,26.2875
702,0,3,14.4542
703,0,3,7.7417
704,0,3,7.8542
705,0,2,26.0
706,1,2,13.5
707,1,1,26.2875
708,1,1,151.55
709,1,3,15.2458
710,1,1,49.5042
711,0,1,26.55
712,1,1,52.0
713,0,3,9.4833
714,0,2,13.0
715,0,3,7.65
716,1,1,227.525
717,1,2,10.5
718,0,3,15.5
719,0,3,7.775
720,1,2,33.0
721,0,3,7.0542
722,0,2,13.0
723,0,2,13.0
724,1,1,53.1
725,0,3,8.6625
726,1,2,21.0
727,1,3,7.7375
728,0,2,26.0
729,0,3,7.925
730,1,1,211.3375
731,0,3,18.7875
732,0,2,0.0
733,0,2,13.0
734,0,2,13.0
735,0,3,16.1
736,0,3,34.375
737,1,1,512.3292
738,0,3,7.8958
739,0,3,7.8958
740,1,1,30.0
741,0,1,78.85
742,1,1,262.375
743,0,3,16.1
744,1,3,7.925
745,0,1,71.0
746,0,3,20.25
747,1,2,13.0
748,0,1,53.1
749,0,3,7.75
750,1,2,23.0
751,1,3,12.475
752,0,3,9.5
753,0,3,7.8958
754,1,2,65.0
755,1,2,14.5
756,0,3,7.7958
757,0,2,11.5
758,0,3,8.05
759,1,1,86.5
760,0,3,14.5
761,0,3,7.125
762,1,3,7.2292
763,1,1,120.0
764,0,3,7.775
765,1,1,77.9583
766,0,1,39.6
767,0,3,7.75
768,0,3,24.15
769,0,3,8.3625
770,0,3,9.5
771,0,3,7.8542
772,0,2,10.5
773,0,3,7.225
774,1,2,23.0
775,0,3,7.75
776,0,3,7.75
777,1,3,12.475
778,0,3,7.7375
779,1,1,211.3375
780,1,3,7.2292
781,1,1,57.0
782,0,1,30.0
783,0,3,23.45
784,0,3,7.05
785,0,3,7.25
786,1,3,7.4958
787,0,3,29.125
788,1,3,20.575
789,0,1,79.2
790,0,3,7.75
791,0,2,26.0
792,0,3,69.55
793,0,1,30.6958
794,0,3,7.8958
795,0,2,13.0
796,1,1,25.9292
797,1,3,8.6833
798,0,3,7.2292
799,0,3,24.15
800,0,2,13.0
801,1,2,26.25
802,1,1,120.0
803,1,3,8.5167
804,1,3,6.975
805,0,3,7.775
806,0,1,0.0
807,0,3,7.775
808,0,2,13.0
809,1,1,53.1
810,0,3,7.8875
811,0,3,24.15
812,0,2,10.5
813,0,3,31.275
814,0,3,8.05
815,0,1,0.0
816,0,3,7.925
817,0,2,37.0042
818,0,3,6.45
819,0,3,27.9
820,1,1,93.5
821,1,3,8.6625
822,0,1,0.0
823,1,3,12.475
824,0,3,39.6875
825,0,3,6.95
826,0,3,56.4958
827,1,2,37.0042
828,1,3,7.75
829,1,1,80.0
830,1,3,14.4542
831,1,2,18.75
832,0,3,7.2292
833,0,3,7.8542
834,0,3,8.3
835,1,1,83.1583
836,0,3,8.6625
837,0,3,8.05
838,1,3,56.4958
839,1,1,29.7
840,0,3,7.925
841,0,2,10.5
842,1,1,31.0

843,0,3,6.4375
844,0,3,8.6625
845,0,3,7.55
846,0,3,69.55
847,0,3,7.8958
848,0,2,33.0
849,1,1,89.1042
850,0,3,31.275
851,0,3,7.775
852,0,3,15.2458
853,1,1,39.4
854,0,2,26.0
855,1,3,9.35
856,1,1,164.8667
857,1,1,26.55
858,1,3,19.2583
859,0,3,7.2292
860,0,3,14.1083
861,0,2,11.5
862,1,1,25.9292
863,0,3,69.55
864,0,2,13.0
865,1,2,13.0
866,1,2,13.8583
867,0,1,50.4958
868,0,3,9.5
869,1,3,11.1333
870,0,3,7.8958
871,1,1,52.5542
872,0,1,5.0
873,0,3,9.0
874,1,2,24.0
875,1,3,7.225
876,0,3,9.8458
877,0,3,7.8958
878,0,3,7.8958
879,1,1,83.1583
880,1,2,26.0
881,0,3,7.8958
882,0,3,10.5167
883,0,2,10.5
884,0,3,7.05
885,0,3,29.125
886,0,2,13.0
887,1,1,30.0
888,0,3,23.45
889,1,1,30.0
890,0,3,7.75

## Reading a File

In [22]:
with open("data/output.txt", mode="r") as fr:
    content = fr.read()                    # Read the whole content in the file.
    print(content)

Hello, world!

In [23]:
with open("data/output2.csv", mode="r") as fr:
    for line in fr:                        # Read the file line by line. 
        print(line, end="")

num,col1,col2
0,0,0
1,10,100
2,20,200
3,30,300
4,40,400
5,50,500
6,60,600
7,70,700
8,80,800
9,90,900
10,100,1000
11,110,1100
12,120,1200
13,130,1300
14,140,1400
15,150,1500
16,160,1600
17,170,1700
18,180,1800
19,190,1900
20,200,2000
21,210,2100
22,220,2200
23,230,2300
24,240,2400
25,250,2500
26,260,2600
27,270,2700
28,280,2800
29,290,2900
30,300,3000
31,310,3100
32,320,3200
33,330,3300
34,340,3400
35,350,3500
36,360,3600
37,370,3700
38,380,3800
39,390,3900
40,400,4000
41,410,4100
42,420,4200
43,430,4300
44,440,4400
45,450,4500
46,460,4600
47,470,4700
48,480,4800
49,490,4900
50,500,5000
51,510,5100
52,520,5200
53,530,5300
54,540,5400
55,550,5500
56,560,5600
57,570,5700
58,580,5800
59,590,5900
60,600,6000
61,610,6100
62,620,6200
63,630,6300
64,640,6400
65,650,6500
66,660,6600
67,670,6700
68,680,6800
69,690,6900
70,700,7000
71,710,7100
72,720,7200
73,730,7300
74,740,7400
75,750,7500
76,760,7600
77,770,7700
78,780,7800
79,790,7900
80,800,8000
81,810,8100
82,820,8200
83,830,8300
84,840,8400
85,850,8500
86,860,8600
87,870,8700
88,880,8800
89,890,8900
90,900,9000
91,910,9100
92,920,9200
93,930,9300
94,940,9400
95,950,9500
96,960,9600
97,970,9700
98,980,9800
99,990,9900

In [24]:
with open("data/output2.csv", mode="r") as fr:
    lines = fr.readlines()                 # Read the whole content in the file as a list of lines.
                                           # Not recommended if the file is too large to be loaded in memory.
    for line in lines:
        print(line, end="")

num,col1,col2
0,0,0
1,10,100
2,20,200
3,30,300
4,40,400
5,50,500
6,60,600
7,70,700
8,80,800
9,90,900
10,100,1000
11,110,1100
12,120,1200
13,130,1300
14,140,1400
15,150,1500
16,160,1600
17,170,1700
18,180,1800
19,190,1900
20,200,2000
21,210,2100
22,220,2200
23,230,2300
24,240,2400
25,250,2500
26,260,2600
27,270,2700
28,280,2800
29,290,2900
30,300,3000
31,310,3100
32,320,3200
33,330,3300
34,340,3400
35,350,3500
36,360,3600
37,370,3700
38,380,3800
39,390,3900
40,400,4000
41,410,4100
42,420,4200
43,430,4300
44,440,4400
45,450,4500
46,460,4600
47,470,4700
48,480,4800
49,490,4900
50,500,5000
51,510,5100
52,520,5200
53,530,5300
54,540,5400
55,550,5500
56,560,5600
57,570,5700
58,580,5800
59,590,5900
60,600,6000
61,610,6100
62,620,6200
63,630,6300
64,640,6400
65,650,6500
66,660,6600
67,670,6700
68,680,6800
69,690,6900
70,700,7000
71,710,7100
72,720,7200
73,730,7300
74,740,7400
75,750,7500
76,760,7600
77,770,7700
78,780,7800
79,790,7900
80,800,8000
81,810,8100
82,820,8200
83,830,8300
84,840,8400
85,850,8500
86,860,8600
87,870,8700
88,880,8800
89,890,8900
90,900,9000
91,910,9100
92,920,9200
93,930,9300
94,940,9400
95,950,9500
96,960,9600
97,970,9700
98,980,9800
99,990,9900

In [25]:
with open("data/output2.csv", mode="r") as fr:
    lines = fr.readlines()                 # Read the whole content in the file as a list of lines.
    
    # Decompose the header row into coloumn names
    header = lines[0]
    header = header.rstrip()               # Remove the trailing new line in the header.
    num, col1, col2 = header.split(",")
    
    # Decompose each line into values
    for line in lines[1:]:                 # Start from the second row.
        line = line.rstrip()               # Remove the trailing new line in each line.
        num_val, val1, val2 = line.split(",")
        print("{}: {}, {}: {}, {}: {}".format(num, num_val, col1, val1, col2, val2))

num: 0, col1: 0, col2: 0
num: 1, col1: 10, col2: 100
num: 2, col1: 20, col2: 200
num: 3, col1: 30, col2: 300
num: 4, col1: 40, col2: 400
num: 5, col1: 50, col2: 500
num: 6, col1: 60, col2: 600
num: 7, col1: 70, col2: 700
num: 8, col1: 80, col2: 800
num: 9, col1: 90, col2: 900
num: 10, col1: 100, col2: 1000
num: 11, col1: 110, col2: 1100
num: 12, col1: 120, col2: 1200
num: 13, col1: 130, col2: 1300
num: 14, col1: 140, col2: 1400
num: 15, col1: 150, col2: 1500
num: 16, col1: 160, col2: 1600
num: 17, col1: 170, col2: 1700
num: 18, col1: 180, col2: 1800
num: 19, col1: 190, col2: 1900
num: 20, col1: 200, col2: 2000
num: 21, col1: 210, col2: 2100
num: 22, col1: 220, col2: 2200
num: 23, col1: 230, col2: 2300
num: 24, col1: 240, col2: 2400
num: 25, col1: 250, col2: 2500
num: 26, col1: 260, col2: 2600
num: 27, col1: 270, col2: 2700
num: 28, col1: 280, col2: 2800
num: 29, col1: 290, col2: 2900
num: 30, col1: 300, col2: 3000
num: 31, col1: 310, col2: 3100
num: 32, col1: 320, col2: 3200
num: 33, col1: 330, col2: 3300
num: 34, col1: 340, col2: 3400
num: 35, col1: 350, col2: 3500
num: 36, col1: 360, col2: 3600
num: 37, col1: 370, col2: 3700
num: 38, col1: 380, col2: 3800
num: 39, col1: 390, col2: 3900
num: 40, col1: 400, col2: 4000
num: 41, col1: 410, col2: 4100
num: 42, col1: 420, col2: 4200
num: 43, col1: 430, col2: 4300
num: 44, col1: 440, col2: 4400
num: 45, col1: 450, col2: 4500
num: 46, col1: 460, col2: 4600
num: 47, col1: 470, col2: 4700
num: 48, col1: 480, col2: 4800
num: 49, col1: 490, col2: 4900
num: 50, col1: 500, col2: 5000
num: 51, col1: 510, col2: 5100
num: 52, col1: 520, col2: 5200
num: 53, col1: 530, col2: 5300
num: 54, col1: 540, col2: 5400
num: 55, col1: 550, col2: 5500
num: 56, col1: 560, col2: 5600
num: 57, col1: 570, col2: 5700
num: 58, col1: 580, col2: 5800
num: 59, col1: 590, col2: 5900
num: 60, col1: 600, col2: 6000
num: 61, col1: 610, col2: 6100
num: 62, col1: 620, col2: 6200
num: 63, col1: 630, col2: 6300
num: 64, col1: 640, col2: 6400
num: 65, col1: 650, col2: 6500
num: 66, col1: 660, col2: 6600
num: 67, col1: 670, col2: 6700
num: 68, col1: 680, col2: 6800
num: 69, col1: 690, col2: 6900
num: 70, col1: 700, col2: 7000
num: 71, col1: 710, col2: 7100
num: 72, col1: 720, col2: 7200
num: 73, col1: 730, col2: 7300
num: 74, col1: 740, col2: 7400
num: 75, col1: 750, col2: 7500
num: 76, col1: 760, col2: 7600
num: 77, col1: 770, col2: 7700
num: 78, col1: 780, col2: 7800
num: 79, col1: 790, col2: 7900
num: 80, col1: 800, col2: 8000
num: 81, col1: 810, col2: 8100
num: 82, col1: 820, col2: 8200
num: 83, col1: 830, col2: 8300
num: 84, col1: 840, col2: 8400
num: 85, col1: 850, col2: 8500
num: 86, col1: 860, col2: 8600
num: 87, col1: 870, col2: 8700
num: 88, col1: 880, col2: 8800
num: 89, col1: 890, col2: 8900
num: 90, col1: 900, col2: 9000
num: 91, col1: 910, col2: 9100
num: 92, col1: 920, col2: 9200
num: 93, col1: 930, col2: 9300
num: 94, col1: 940, col2: 9400
num: 95, col1: 950, col2: 9500
num: 96, col1: 960, col2: 9600
num: 97, col1: 970, col2: 9700
num: 98, col1: 980, col2: 9800
num: 99, col1: 990, col2: 9900

In [26]:
open("data/outputtt.csv", mode="r")

FileNotFoundError: [Errno 2] No such file or directory: 'data/outputtt.csv'

## Exercises for File Writing and Reading

## Reading and Writing a CSV File Using Pandas

In [27]:
import pandas as pd

In [34]:
df = pd.read_csv("data/ex_titanic2.csv")
df

    sex\tpclass\tembark_town\tnum_fam_mems
0                  male\t3\tSouthampton\t1
1                  female\t1\tCherbourg\t1
2                female\t3\tSouthampton\t0
3                female\t1\tSouthampton\t1
4                  male\t3\tSouthampton\t0
..                                     ...
886                male\t2\tSouthampton\t0
887              female\t1\tSouthampton\t0
888              female\t3\tSouthampton\t3
889                  male\t1\tCherbourg\t0
890                 male\t3\tQueenstown\t0

[891 rows x 1 columns]

pandas.read_csv: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

If you need to read a CSV file and analyze the content in a tabular format with rows and columns, it is a good idea to read the file as a Pandas dataframe.

In [35]:
df = pd.read_csv("data/ex_titanic2.csv", sep="\t")
df

        sex  pclass  embark_town  num_fam_mems
0      male       3  Southampton             1
1    female       1    Cherbourg             1
2    female       3  Southampton             0
3    female       1  Southampton             1
4      male       3  Southampton             0
..      ...     ...          ...           ...
886    male       2  Southampton             0
887  female       1  Southampton             0
888  female       3  Southampton             3
889    male       1    Cherbourg             0
890    male       3   Queenstown             0

[891 rows x 4 columns]

In [30]:
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv")
df

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

In [31]:
df = pd.read_excel("http://go.microsoft.com/fwlink/?LinkID=521962", sheet_name="Sheet1")
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

pandas.read_excel: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [32]:
df.to_csv("data/my_data.csv", sep=",", index=False)         # Write object to a comma-separated values (csv) file.

pandas.DataFrame.to_csv: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [33]:
! pip install --user xlrd xlsxwriter

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (2.0.1)

WARNING: Ignoring invalid distribution -portlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mportlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -portlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mportlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -portlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mportlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -portlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mportlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -portlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mportlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -portlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -mportlib-metadata (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\programdata\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: xlsxwriter in c:\programdata\anaconda3\lib\site-packages (1.3.8)

In [35]:
df.to_excel("data/my_data.xls", sheet_name="Sheet1", index=False, engine='xlsxwriter')  # Write object to an Excel sheet.

In [34]:
df.to_excel("data/my_data.xlsx", sheet_name="Sheet1", index=False, engine='xlsxwriter')

<ipython-input-34-431a9d25eee8>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel("data/my_data.xls", sheet_name="Sheet1", index=False)

pandas.DataFrame.to_excel: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html